#Python_Pandas

In [52]:
import pandas as pd 
import numpy as np
import re

##task_1

In [4]:
log = pd.read_csv('visit_log.csv',sep=';')
log[:5]

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [48]:
%%time
log.loc[log.traffic_source == ('yandex' and 'google'), 'source_type'] = 'organic'
log.loc[(log.traffic_source == ('paid' and'email')) & (log.region=='Russia'), 'source_type'] = 'ad'
log.loc[(log.traffic_source == ('paid' and'email')) & (log.region!='Russia'), 'source_type'] = 'other'
log.loc[log.source_type.isnull(), 'source_type'] = log['traffic_source']
log[:30]

CPU times: user 24.6 ms, sys: 0 ns, total: 24.6 ms
Wall time: 43.4 ms

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,adother
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,adother
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct
20,1549980816,de47c9b27e,https://host.ru/8fe7c39e5c598bbc54,Ukraine,2f25b6e26a,email,other
21,1549980823,c90232586b,https://host.ru/da83c74e35e7806fe0,Ukraine,a00405d70c,google,organic
22,1549980827,6a4875ddac,https://host.ru/f2297425e1328e9e35,Ukraine,ea1bf97284,yandex,organic
23,1549980839,015275e61f,https://host.ru/c8d9213a31839f9a3a,Russia,21bdc57777,email,ad
24,1549980842,9d908ecfb6,https://host.ru/ae8a036d7f44d0bcd9,China,583b1a1636,direct,direct
25,1549980844,61126de1b7,https://host.ru/060d9bdbcba66b8bb3,Russia,9de3f97d4f,direct,adother
26,1549980852,659d36ca56,https://host.ru/4adc8a29b212051b04,Russia,c4bd1ae3af,paid,ad
27,1549980853,ea49aa9f6f,https://host.ru/1afc5618562365020a,Russia,20e8e91ecf,email,ad
28,1549980862,3addfb141c,https://host.ru/186c4d6b47dbde0e74,Russia,3f64fc1a87,yandex,organic
29,1549980874,11e431c215,https://host.ru/05e41944dd85a900a6,Russia,a15f66b89b,paid,ad

##task_2

In [51]:
urls = pd.read_csv('URLs.txt')
urls[:10]

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [53]:
urls[urls.url.str.contains('/[0-9]{8}-', regex=True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

##task_3

In [145]:
rating = pd.read_csv('ratings.csv',sep=',')
rating[:5]

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [133]:
rating.pivot_table(index = 'userId',
                  columns = 'rating', 
                  values = 'timestamp',
                   aggfunc='count',
                   margins=True).head(10)

rating  0.5  1.0  1.5  2.0  2.5   3.0   3.5   4.0   4.5    5.0  All
userId
1       NaN  2.0  NaN  7.0  3.0   4.0   1.0   3.0   NaN    NaN   20
2       NaN  2.0  NaN  4.0  NaN  36.0   NaN  23.0   NaN   11.0   76
3       NaN  NaN  NaN  1.0  3.0  18.0   9.0  11.0   4.0    5.0   51
4       NaN  5.0  NaN  5.0  NaN  23.0   NaN  52.0   NaN  119.0  204
5       NaN  NaN  1.0  NaN  3.0   3.0  27.0  42.0  19.0    5.0  100
6       1.0  2.0  3.0  7.0  NaN   7.0   3.0  11.0   6.0    4.0   44
7       NaN  3.0  NaN  5.0  NaN  41.0   NaN  26.0   NaN   13.0   88
8       1.0  NaN  NaN  3.0  4.0  13.0  26.0  35.0  16.0   18.0  116
9       NaN  NaN  NaN  5.0  NaN   9.0   NaN  23.0   NaN    8.0   45
10      NaN  NaN  NaN  5.0  NaN  13.0   NaN  19.0   NaN    9.0   46

In [156]:
ratings_count = rating.groupby('userId').count().reset_index() #count the number of ratings left by the user
ratings_count=ratings_count[['userId','rating']]
ratings_count[:10]

   userId  rating
0       1      20
1       2      76
2       3      51
3       4     204
4       5     100
5       6      44
6       7      88
7       8     116
8       9      45
9      10      46

In [158]:
more_hund = ratings_count[ratings_count.rating > 100] #filte values of more than a hundred
more_hund.rename(columns={'rating': 'rating_count'},inplace=True) 
more_hund.head(10)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    userId  rating_count
3        4           204
7        8           116
14      15          1700
16      17           363
18      19           423
20      21           162
21      22           220
22      23           726
25      26           172
29      30          1011

In [163]:
rating_max=rating.groupby('userId').max().reset_index()
rating_min=rating.groupby('userId').min().reset_index() #group by min/max 

max_time=rating_max[['userId','timestamp']]
min_time=rating_min[['userId','timestamp']]  #leave only the time indicator


max_time.rename(columns={'timestamp': 'timestamp_max'}, inplace=True)
min_time.rename(columns={'timestamp': 'timestamp_min'}, inplace=True) #rename columns

min_time[:10]

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   userId  timestamp_min
0       1     1260759108
1       2      835355395
2       3     1298861589
3       4      949778714
4       5     1163373044
5       6     1108134263
6       7      851866703
7       8     1154389340
8       9      938627748
9      10      942765978

In [166]:
avg_time= more_hund.merge(max_time, how='inner').merge(min_time, how='inner') #merge min/max time
avg_time[:5]

   userId  rating_count  timestamp_max  timestamp_min
0       4           204      949982274      949778714
1       8           116     1154474527     1154389340
2      15          1700     1469330735      997937239
3      17           363     1127476640     1127468587
4      19           423      855195373      855190091

In [174]:
avg_time['avg']=avg_time.apply(lambda row: row['timestamp_max'] - row['timestamp_min'] , axis=1) #calculet avg time 
len(more_hund)==len(avg_time)

True

In [175]:
avg_time.head(10)

   userId  rating_count  timestamp_max  timestamp_min        avg
0       4           204      949982274      949778714     203560
1       8           116     1154474527     1154389340      85187
2      15          1700     1469330735      997937239  471393496
3      17           363     1127476640     1127468587       8053
4      19           423      855195373      855190091       5282
5      21           162      854522908      853157476    1365432
6      22           220     1131753381     1131661890      91491
7      23           726     1166728253     1148386124   18342129
8      26           172     1371811577     1351544316   20267261
9      30          1011     1060795346      944943070  115852276