## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [2]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [5]:
sum([x for x in list_01 if 10 < x < 100 or 200< x < 500])

1291

#### Задача 2

Дана строка:

In [9]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [6]:
import re

In [10]:
def words(leter):
  patern = fr'\b{leter}\w*'
  list_words = re.findall(patern, some_string,re.I)
  print(list_words)

In [11]:
words('w')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [12]:
import random

In [16]:
def random_num():
  number = ''
  while '3' not in number:
    numbers = []
    for i in range(6):
      num = random.randint(0,9)
      numbers.append(str(num))
    number = ''.join(numbers)
  return number

In [19]:
random_num()

'620873'

#### Задача 4

Данные студентов представлены в виде списка списков:

In [20]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [21]:
dict_ = {}
for i in students:
  dict_[i[0]] = i[1:]

In [22]:
dict_

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [27]:
def group_list(group):
  res = []
  for x in dict_.values():
    if x[-1] == group:
      res.append(f'{x[0]} {x[1]} {x[2]}')
  for j,x in enumerate(sorted(res)):
    return j+1,x

In [28]:
group_list('БСТ162')

(1, 'Богов Артем Игоревич')

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [48]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
       self.id = s_id
       self.last_name = last_name
       self.first_name = first_name
       self.patronomic_name = patronomic_name
       self.date = date
       self.group = group
        
    def add_to_dict(self):
      if self.id in dict_.keys():
        return 'Студент с таким номером уже сщуствует'
      else:
        dict_[self.id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        
        
    def update_dict(self):
      dict_[self.id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        
        
        
    def change_group(self, new_group):
      self.group = new_group
        
        
    def change_id(self, new_id):
      self.id = new_id
        
        
    def print_data(self):
      return f'{self.id} {self.last_name} {self.first_name} {self.patronomic_name} {self.date} {self.group}'

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [49]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [50]:
dict_

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '02': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

In [51]:
volkova.print_data()

'0001 Волкова Галина Сергеевна 18.12.2022 БСТ100'

In [52]:
volkova.add_to_dict()

'Студент с таким номером уже сщуствует'

In [53]:
volkova.change_id('0002')

In [54]:
volkova.add_to_dict()

In [55]:
dict_

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '02': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [56]:
volkova.change_group('БСТ161')

In [57]:
dict_

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '02': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

In [58]:
volkova.update_dict()

In [59]:
dict_

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '02': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161']}

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [63]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [60]:
import numpy as np

In [66]:
matrix_t = np.transpose(matrix)

In [67]:
matrix_t

array([[0, 6, 3, 4, 5],
       [1, 2, 3, 6, 7],
       [2, 2, 3, 7, 3],
       [4, 1, 3, 1, 4],
       [8, 9, 3, 2, 0]])