#Python_and_statistic

In [ ]:
import pandas as pd
import numpy as np

##task_1

In [ ]:
hors = pd.read_csv('horse_data.csv', names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature',\
                                                    'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                                                    'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', \
                                                    'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', \
                                                    'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_-_feces',\
                                                    'abdomen', 'packed_cell_volume', 'total_protein', \
                                                    'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', \
                                                    'surgical_lesion?', 'site_of_lesion', 'type', 'specific_code', 'cp_data'], \
                         sep = ',', header=0, na_values='?',usecols=['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                         'pain', 'outcome'])

hors[:10]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0

In [ ]:
# look on unique values
print(hors['surgery'].unique())
print(hors['age'].unique())
print(hors['rectal_temperature'].unique())
print(hors['pulse'].unique())
print(hors['respiratory_rate'].unique())
print(hors['temperature_of_extremities'].unique())
print(hors['pain'].unique())
print(hors['outcome'].unique())

[ 1.  2. nan]
[1 9]
[39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4 39.9
 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 38.5 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
[ 88.  40. 164. 104.  nan  48.  60.  80.  90.  66.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
[20. 24. 84. 35. nan 16. 36. 12. 52. 28. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
[nan  1.  4.  2.  3.]
[ 3.  2. nan  4.  5.  1.]
[ 3.  1.  2. nan]

In [ ]:
hors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [ ]:
hors.loc[(hors.age == 9), ('age')] = 2

In [ ]:
hors[:10]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0

In [ ]:
hors.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,298.000000,299.000000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.080268,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,0.272162,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

# The Moda

In [ ]:
# the Moda
print('Операция:', hors['surgery'].mode()[0])
print('Возраст:', hors['age'].mode()[0])
print('Ректальная температура:', hors['rectal_temperature'].mode()[0])
print('Пульс:', hors['pulse'].mode()[0])
print('Частота дыхания:', hors['respiratory_rate'].mode()[0])
print('Температура конечностей:', hors['temperature_of_extremities'].mode()[0])
print('Боль:', hors['pain'].mode()[0])
print('Результат:', hors['outcome'].mode()[0])

Операция: 1.0
Возраст: 1
Ректальная температура: 38.0
Пульс: 48.0
Частота дыхания: 20.0
Температура конечностей: 3.0
Боль: 3.0
Результат: 1.0

#Dispersion

In [ ]:
# Dispersion
print('Операция:', hors['surgery'].var())
print('Возраст:', hors['age'].var())
print('Ректальная температура:', hors['rectal_temperature'].var())
print('Пульс:', hors['pulse'].var())
print('Частота дыхания:', hors['respiratory_rate'].var())
print('Температура конечностей:', hors['temperature_of_extremities'].var())
print('Боль:', hors['pain'].var())
print('Результат:', hors['outcome'].var())

Операция: 0.23998372991661587
Возраст: 0.07407241139368367
Ректальная температура: 0.5380345276185787
Пульс: 822.5723424021235
Частота дыхания: 312.5207468879669
Температура конечностей: 1.0948882767064587
Боль: 1.7003980300883765
Результат: 0.5445958466092694

#Interquartile ranges

In [ ]:
#interquartile ranges

Q1_rectal_temperature = hors['rectal_temperature'].quantile(0.25)
Q3_rectal_temperature = hors['rectal_temperature'].quantile(0.75)
IQR_rectal_temperature = Q3_rectal_temperature - Q1_rectal_temperature
print('Ректальная температура:', IQR_rectal_temperature)

Q1_pulse = hors['pulse'].quantile(0.25)
Q3_pulse = hors['pulse'].quantile(0.75)
IQR_pulse = Q3_pulse - Q1_pulse
print('Пульс:', IQR_pulse)

Q1_respiratory_rate = hors['respiratory_rate'].quantile(0.25)
Q3_respiratory_rate = hors['respiratory_rate'].quantile(0.75)
IQR_respiratory_rate = Q3_respiratory_rate - Q1_respiratory_rate
print('Частота дыхания:', IQR_respiratory_rate)


Q1_pain = hors['pain'].quantile(0.25)
Q3_pain = hors['pain'].quantile(0.75)
IQR_pain = Q3_pain - Q1_pain
print('Боль:', IQR_pain)

Ректальная температура: 0.7000000000000028
Пульс: 40.0
Частота дыхания: 18.0
Боль: 2.0

#Emissions

In [ ]:
lower_bound_rectal_temperature = Q1_rectal_temperature - (1.5 * IQR_rectal_temperature) 
upper_bound_rectal_temperature = Q3_rectal_temperature + (1.5 * IQR_rectal_temperature)
remove_outliers_rectal_temperature = hors[hors['rectal_temperature']\
                                     .between(lower_bound_rectal_temperature, upper_bound_rectal_temperature, inclusive=True)]\
                                     .sort_values('outcome')
outliers_rectal_temperature = pd.concat([hors, remove_outliers_rectal_temperature]).drop_duplicates(keep=False)
outliers_rectal_temperature.head()

<ipython-input-39-ff1ae9dd9fde>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_rectal_temperature = hors[hors['rectal_temperature']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
15,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

In [ ]:
outliers_rectal_temperature['rectal_temperature'].value_counts()

40.3    2
36.5    2
39.9    1
35.4    1
39.7    1
36.4    1
39.6    1
36.0    1
36.1    1
36.6    1
40.8    1
40.0    1
Name: rectal_temperature, dtype: int64

In [ ]:
lower_bound_pulse = Q1_pulse - (1.5 * IQR_pulse) 
upper_bound_pulse = Q3_pulse + (1.5 * IQR_pulse)
remove_outliers_pulse = hors[hors['pulse']\
                        .between(lower_bound_pulse, upper_bound_pulse, inclusive=True)].sort_values('outcome')
outliers_pulse = pd.concat([hors, remove_outliers_pulse]).drop_duplicates(keep=False)
outliers_pulse.head()

<ipython-input-41-8e9709522dbf>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_pulse = hors[hors['pulse']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
40,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0

In [ ]:
outliers_pulse['pulse'].value_counts()

150.0    2
164.0    1
160.0    1
184.0    1
Name: pulse, dtype: int64

In [ ]:
lower_bound_respiratory_rate = Q1_respiratory_rate - (1.5 * IQR_respiratory_rate) 
upper_bound_respiratory_rate = Q3_respiratory_rate + (1.5 * IQR_respiratory_rate)
remove_outliers_respiratory_rate = hors[hors['respiratory_rate']\
                                   .between(lower_bound_respiratory_rate, upper_bound_respiratory_rate, inclusive=True)]\
                                   .sort_values('outcome')
outliers_respiratory_rate = pd.concat([hors, remove_outliers_respiratory_rate]).drop_duplicates(keep=False)
outliers_respiratory_rate.head()

<ipython-input-43-42115bb82b06>:3: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  remove_outliers_respiratory_rate = hors[hors['respiratory_rate']\

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
28,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0

In [ ]:
outliers_respiratory_rate['respiratory_rate'].value_counts()

80.0    3
68.0    3
84.0    2
96.0    2
70.0    2
72.0    1
66.0    1
88.0    1
Name: respiratory_rate, dtype: int64

По проверке на выбросы, можно сказать , чтто в данных выбросы отсутствуют!

#task_3

##filling in the gaps

In [ ]:
hors[:5]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

In [ ]:
hors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory_rate            241 non-null    float64
 5   temperature_of_extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

Предворительно взшлянув на пропуски видно, что данные отсутствуют как с категориальными значаниями так и с количечественными!

Предложение заполнить пропуски:
Категориальные- модой,
Количественные-медианой!

In [ ]:
hors['surgery'].fillna(hors['surgery'].mode()[0], inplace=True)
print(hors['surgery'].isna().sum())
print(hors['surgery'].unique())

0
[1. 2.]

In [ ]:
hors['outcome'].fillna(hors['outcome'].mode()[0], inplace=True)
print(hors['outcome'].isna().sum())
print(hors['outcome'].unique())

0
[3. 1. 2.]

In [ ]:
hors.loc[132]

surgery                        2.0
age                            1.0
rectal_temperature            37.9
pulse                         40.0
respiratory_rate              24.0
temperature_of_extremities     1.0
pain                           2.0
outcome                        1.0
Name: 132, dtype: float64

In [ ]:
fill_moda = hors

fill_moda['pain'].fillna(hors['pain'].mode()[0], inplace=True)
print(fill_moda['pain'].isna().sum())
print(fill_moda['pain'].unique())

0
[3. 2. 4. 5. 1.]

In [ ]:
print(fill_moda['pain'].describe())

count    299.000000
mean       2.953177
std        1.177736
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [ ]:
hors['pain'].fillna(hors['pain'].mode()[0], inplace=True)
print(hors['pain'].isna().sum())
print(hors['pain'].unique())

0
[3. 2. 4. 5. 1.]

In [ ]:
hors['rectal_temperature'].fillna(hors.groupby(['surgery', 'age'])['rectal_temperature'].transform('median'), inplace=True)
hors['temperature_of_extremities'].fillna(hors.groupby(['age', 'outcome'])['temperature_of_extremities'].transform(lambda x: x.mode()[0]),inplace=True)
hors['respiratory_rate'].fillna(hors.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

hors['pulse'].fillna(hors.groupby(['pain','age'])['pulse'].transform('median'),inplace=True)

In [ ]:
hors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            298 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

К категориальным данным Мы отнесли : "хирургическое вмешателнство","возраст","боль","экстримальная температура" и "исход"!
В количественным признакам попали : "ректальная температура", "пульс","частота дыхания"

In [ ]:
hors['respiratory_rate'].fillna(hors['respiratory_rate'].median(), inplace=True)

In [ ]:
hors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         299 non-null    int64
 2   rectal_temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory_rate            299 non-null    float64
 5   temperature_of_extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [ ]:
print(hors.groupby(['surgery', 'age'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['surgery', 'age'])['respiratory_rate'].transform('median'), inplace=True)

surgery  age
1.0      0      55.0
         1      24.0
2.0      0      37.0
         1      24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['surgery', 'pain'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['surgery', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

surgery  pain
1.0      1.0     16.0
         2.0     35.0
         3.0     24.0
         4.0     28.0
         5.0     28.0
2.0      1.0     20.0
         2.0     24.0
         3.0     24.0
         4.0     24.5
         5.0     28.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['surgery', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['surgery', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

surgery  outcome
1.0      1.0        24.0
         2.0        28.0
         3.0        24.0
2.0      1.0        24.0
         2.0        28.0
         3.0        24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['age', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['age', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

age  surgery
0    1.0        55.0
     2.0        37.0
1    1.0        24.0
     2.0        24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['age', 'pain'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['age', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

age  pain
0    1.0     28.0
     2.0     60.0
     3.0     54.0
     4.0     44.0
     5.0     50.0
1    1.0     20.0
     2.0     24.0
     3.0     24.0
     4.0     24.5
     5.0     28.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['age', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['age', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

age  outcome
0    1.0        64.0
     2.0        44.0
     3.0        24.0
1    1.0        24.0
     2.0        28.0
     3.0        24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['pain', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['pain', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

pain  surgery
1.0   1.0        16.0
      2.0        20.0
2.0   1.0        35.0
      2.0        24.0
3.0   1.0        24.0
      2.0        24.0
4.0   1.0        28.0
      2.0        24.5
5.0   1.0        28.0
      2.0        28.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['pain', 'age'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['pain', 'age'])['respiratory_rate'].transform('median'), inplace=True)

pain  age
1.0   0      28.0
      1      20.0
2.0   0      60.0
      1      24.0
3.0   0      54.0
      1      24.0
4.0   0      44.0
      1      24.5
5.0   0      50.0
      1      28.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['pain', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['pain', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

pain  outcome
1.0   1.0        20.0
      2.0        23.0
      3.0        20.0
2.0   1.0        24.0
      2.0        32.0
      3.0        28.0
3.0   1.0        24.0
      2.0        28.0
      3.0        24.0
4.0   1.0        30.0
      2.0        28.0
      3.0        24.0
5.0   1.0        27.0
      2.0        28.0
      3.0        23.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['outcome', 'age'])['respiratory_rate'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

outcome  age
1.0      0      64.0
         1      24.0
2.0      0      44.0
         1      28.0
3.0      0      24.0
         1      24.0
Name: respiratory_rate, dtype: float64

In [ ]:
print(hors.groupby(['outcome', 'pain'])['temperature_of_extremities'].median())
fill_median_by_groups = hors
fill_median_by_groups['respiratory_rate'].fillna(hors.groupby(['outcome', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

outcome  pain
1.0      1.0     2.0
         2.0     2.0
         3.0     2.0
         4.0     3.0
         5.0     3.0
2.0      1.0     2.0
         2.0     3.0
         3.0     3.0
         4.0     3.0
         5.0     3.0
3.0      1.0     3.0
         2.0     3.0
         3.0     3.0
         4.0     3.0
         5.0     3.0
Name: temperature_of_extremities, dtype: float64